body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, #0f2027, #203a43, #2c5364);
  font-family: 'Segoe UI', sans-serif;
}

.card {
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  padding: 35px;
  border-radius: 20px;
  text-align: center;
  color: white;
  box-shadow: 0 0 30px rgba(255,255,255,0.15);
}

button {
  margin-top: 20px;
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  background: #ffd166;
  color: #222;
  cursor: pointer;
}
canvas{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
	
